x-lab/00-template.md
x-lab/definition-template.md

y-projects/Clever-Age/
y-projects/Euralis/
y-projects/Giphar/
y-projects/Latecoere/
y-projects/Maisadour/
y-projects/Oneweb/
y-projects/Polyrey/
y-projects/SGD-Pharma/
y-projects/Smurfit/
y-projects/Stms/
y-projects/Toray/
y-projects/UE-Fillpack/